body {
    overflow-x: hidden;
    background-color: #f4f6f9;
}

/* Ajuste para a Navbar fixa */
.wrapper {
    display: flex;
    margin-top: 56px; /* Altura da navbar */
    min-height: calc(100vh - 56px);
}

/* Sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .nav-link {
    color: #333;
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

#sidebar .nav-link:hover {
    background-color: #e9ecef;
}

/* Área de Conteúdo */
.content-wrapper {
    width: 100%;
    transition: all 0.3s;
}

/* Ajuste para o submenu */
#sidebar .nav-link {
    color: #333;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
}

#sidebar .nav-link:hover {
    background-color: #e9ecef;
}

#sidebar .collapse .nav-link {
    font-size: 0.9rem; /* Submenu levemente menor */
    border-bottom: none;
    padding: 8px 15px;
}

/* Rotação do ícone quando o menu abre */
[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
    transition: 0.3s;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
